@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ------------------------------------------- End Reset -------------------------------------------------- */


:root {
  --background-color: #8a58ff;
  --primary-text-color: #ffffff;
  --primary-accent-color: #360f50;
  --secondary-accent-color: #ffcd80;
}
body {
  background-color: var(--background-color);
}

.delay-100ms {
  animation-delay: 100ms;
}

.delay-200ms {
  animation-delay: 200ms;
}

.delay-300ms {
  animation-delay: 300ms;
}

.delay-400ms {
  animation-delay: 400ms;
}

.delay-500ms {
  animation-delay: 500ms;
}

.animation-3d {
  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;
  transition: transform 1s ease 0s;
}

.animation-3d:hover {
    transform: perspective(1000px) rotateY(3deg);
  }

  .svg-button:hover .plus-icon path,
  .svg-button:focus .plus-icon path {
    transition: all ease-in-out 0.3s;
    fill: #ffffff; /* Replace #newColor with the color you want */
  }
